<html>
  <head>
  <title>Simple Flask Current Time App</title>

  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

  <!-- CSS Reset -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">

  <!-- Milligram CSS minified -->
  <link rel="stylesheet" href="../static/milligram/dist/milligram.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Automatically refreshes page every inute (60 seconds) -->
  <meta http-equiv="refresh" content="60" >

  <link rel="icon" type="image/png" href="../static/hourglass.png">

    <style type="text/css">
      body {
        background-image: url("static/backgrounds/death_life.jpg");
        max-width: 800px;
        margin: 0 auto;
      }
      h1, h2, h3 {
        color: #FFFFFF;
      }
    </style>

  </head>
  
  <body>
    <h1>Simple Flask Current Time App</h1>
  <hr />
  
  <h3>The time now is</h3>
    <h2><i>{{time_now}}</i><br/></h2>
  <hr />
  <h3>And the day is</h3>
    <h2><i>{{day_today}}</i><br/></h2> 
  <hr/>

  </body>
</html>